/* buttons */

.btn-default {
    /* White */

    background: #ffffff;
    /* Light/Light base 50 */

    border: 1px solid var(--light);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-default:hover {
    border: 1px solid var(--light);
}

.btn-default:active {
    background: #ffffff;
    opacity: 0.5;
    border: 1px solid var(--light);
    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-default:hover {
    /* White */

    background: #ffffff;
    /* Light/Light base 50 */

    border: 1px solid var(--light);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-default:disabled {
    /* White */

    background: #ffffff;
    /* Light/Light base 50 */

    border: 1px solid var(--light);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-primary {
    /* Primary/Primary base: 400 */

    background: var(--primary-base-400);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-primary:disabled {
    /* Primary/Primary base: 400 */

    background: var(--primary-base-400);
    opacity: 0.5;
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-primary:hover {
    /* Primary/Primary base: 400 */

    background: var(--primary-base-400);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-primary:active {
    /* Primary/Primary base: 400 */

    background: var(--primary-base-400);
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-success {
    /* Alert/Success/Sucess base */

    background: var(--success-base);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-success:disabled {
    /* Alert/Success/Sucess base */

    background: var(--success-base);
    opacity: 0.5;
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-success:hover {
    /* Alert/Success/Sucess base */

    background: var(--success-base);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-success:active {
    /* Alert/Success/Sucess base */

    background: var(--success-base);
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-danger {
    /* Alert/Error/Error base */

    background: var(--error-base);
    /* Alert/Error/Error base */

    border: 1px solid var(--error-base);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-danger:disabled {
    /* Alert/Error/Error base */

    background: var(--error-base);
    opacity: 0.5;
    /* Alert/Error/Error base */

    border: 1px solid var(--error-base);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-danger:hover {
    /* Alert/Error/Error base */

    background: var(--error-base);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-danger:active {
    /* Alert/Error/Error base */

    background: var(--error-base);
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-dark {
    opacity: 1 !important;
    background-color: #000 !important;
    /* Dark/900 */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-dark:disabled {
    background-color: #000 !important;
    color: #ffffffc4 !important;

    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-dark:hover {
    /* Dark/900 */

    background-color: #000000 !important;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2) !important;
}

.btn-dark:active {
    /* Dark/900 */

    background: #000000 !important;
    opacity: 0.5 !important;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-warning {
    /* Alert/Warning/Warning base */

    background: var(--warning-base);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-warning:disabled {
    /* Alert/Warning/Warning base */

    background: var(--warning-base);
    opacity: 0.5;
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-warning:hover {
    /* Alert/Warning/Warning base */

    background: var(--warning-base);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-warning:active {
    /* Alert/Warning/Warning base */

    background: var(--warning-base);
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-info {
    /* Alert/Info/Info base */

    background: var(--info-base);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-info:disabled {
    /* Alert/Info/Info base */

    background: var(--info-base);
    opacity: 0.5;
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-info:hover {
    /* Alert/Info/Info base */

    background: var(--info-base);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-info:active {
    /* Alert/Info/Info base */

    background: var(--info-base);
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
    /* Secondary/Secondary base 400 */

    background: var(--secondary-base);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-secondary:disabled {
    /* Secondary/Secondary base 400 */

    background: var(--secondary-base);
    opacity: 0.5;
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-secondary:hover {
    /* Secondary/Secondary base 400 */

    background: var(--secondary-base);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-secondary:active {
    /* Secondary/Secondary base 400 */

    background: var(--secondary-base);
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-light {
    /* Light/Light base 50 */

    background: var(--light);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-light:disabled {
    /* Light/Light base 50 */

    background: var(--light);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-light:hover {
    /* Light/Light base 50 */

    background: var(--light);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-light:active {
    /* Light/Light base 50 */

    background: var(--light);
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-link:hover {
    /* White */

    background: #ffffff;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-link:active {
    /* White */

    background: #ffffff;
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}
