:root {
    /* primary */
    --primary-base-400: #007bff;
    --primary-lighten-1: #cce5ff;
    --primary-lighten-2: #99caff;
    --primary-lighten-3: #66b0ff;
    --primary-lighten-4: #3395ff;
    --primary-darken-1: #0062cc;
    --primary-darken-2: #004a99;
    --primary-darken-3: #003166;
    --primary-darken-4: #001933;

    /* secondary */
    --secondary-base: #3f6079;
    --secondary-lighten-1: #d9dfe4;
    --secondary-lighten-2: #b2bfc9;
    --secondary-lighten-3: #8ca0af;
    --secondary-lighten-4: #658094;
    --secondary-darken-1: #324d61;
    --secondary-darken-2: #263a49;
    --secondary-darken-3: #192630;
    --secondary-darken-4: #0d1318;

    /* tertiary */
    --tertiary-base: #c16ebb;
    --tertiary-lighten-1: #f3e2f1;
    --tertiary-lighten-2: #e6c5e4;
    --tertiary-lighten-3: #daa8d6;
    --tertiary-lighten-4: #cd8bc9;
    --tertiary-darken-1: #9a5896;
    --tertiary-darken-2: #744270;
    --tertiary-darken-3: #4d2c4b;
    --tertiary-darken-4: #271625;

    /* error */

    --error-base: #dc3545;
    --error-lighten-1: #f8d7da;
    --error-lighten-2: #f1aeb5;
    --error-lighten-3: #ea868f;
    --error-lighten-4: #e35d6a;
    --error-darken-1: #b02a37;
    --error-darken-2: #842029;
    --error-darken-3: #58151c;
    --error-darken-4: #2c0b0e;

    /* success */
    --success-base: #198754;
    --success-lighten-1: #d1e7dd;
    --success-lighten-2: #a3cfbb;
    --success-lighten-3: #75b798;
    --success-lighten-4: #479f76;
    --success-lighten-1: #146c43;
    --success-lighten-2: #0f5132;
    --success-lighten-3: #0a3622;
    --success-lighten-4: #051b11;

    /* warning */
    --warning-base: #ffc107;
    --warning-lighten-1: #fff3cd;
    --warning-lighten-2: #ffe69c;
    --warning-lighten-3: #ffda6a;
    --warning-lighten-4: #ffcd39;
    --warning-darken-1: #cc9a06;
    --warning-darken-2: #997404;
    --warning-darken-3: #664d03;
    --warning-darken-4: #332701;

    /* info */
    --info-base: #17a2b8;
    --info-lighten-1: #d1ecf1;
    --info-lighten-2: #a2dae3;
    --info-lighten-3: #74c7d4;
    --info-lighten-4: #45b5c6;
    --info-darken-1: #128293;
    --info-darken-2: #0e616e;
    --info-darken-3: #09414a;
    --info-darken-4: #052025;

    /* light */
    --light: #e5e8eb;
    --light-lighten-1: #fafafb;
    --light-lighten-2: #f5f6f7;
    --light-lighten-3: #eff1f3;
    --light-lighten-4: #eaedef;
    --light-darken-1: #b7babc;
    --light-darken-2: #898b8d;
    --light-darken-3: #5c5d5e;
    --light-darken-4: #2e2e2f;

    --dark: #272531;
    --dark-lighten-1: #d4d3d6;
    --dark-lighten-2: #a9a8ad;
    --dark-lighten-3: #7d7c83;
    --dark-lighten-4: #52515a;
    --dark-darken-1: #1f1e27;
    --dark-darken-2: #17161d;
    --dark-darken-3: #100f14;
    --dark-darken-4: #08070a;
}

/* buttons */

.btn-default {
    /* White */

    background: #ffffff;
    /* Light/Light base 50 */

    border: 1px solid var(--light);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-default:hover {
    border: 1px solid var(--light);
}

.btn-default:active {
    background: #ffffff;
    opacity: 0.5;
    border: 1px solid var(--light);
    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-default:hover {
    /* White */

    background: #ffffff;
    /* Light/Light base 50 */

    border: 1px solid var(--light);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-default:disabled {
    /* White */

    background: #ffffff;
    /* Light/Light base 50 */

    border: 1px solid var(--light);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-primary {
    /* Primary/Primary base: 400 */

    background: var(--primary-base-400);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-primary:disabled {
    /* Primary/Primary base: 400 */

    background: var(--primary-base-400);
    opacity: 0.5;
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-primary:hover {
    /* Primary/Primary base: 400 */

    background: var(--primary-base-400);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-primary:active {
    /* Primary/Primary base: 400 */

    background: var(--primary-base-400);
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-success {
    /* Alert/Success/Sucess base */

    background: var(--success-base);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-success:disabled {
    /* Alert/Success/Sucess base */

    background: var(--success-base);
    opacity: 0.5;
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-success:hover {
    /* Alert/Success/Sucess base */

    background: var(--success-base);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-success:active {
    /* Alert/Success/Sucess base */

    background: var(--success-base);
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-danger {
    /* Alert/Error/Error base */

    background: var(--error-base);
    /* Alert/Error/Error base */

    border: 1px solid var(--error-base);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-danger:disabled {
    /* Alert/Error/Error base */

    background: var(--error-base);
    opacity: 0.5;
    /* Alert/Error/Error base */

    border: 1px solid var(--error-base);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-danger:hover {
    /* Alert/Error/Error base */

    background: var(--error-base);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-danger:active {
    /* Alert/Error/Error base */

    background: var(--error-base);
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-dark {
    opacity: 1 !important;
    background-color: #000 !important;
    /* Dark/900 */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-dark:disabled {
    background-color: #000 !important;
    color: #ffffffc4 !important;

    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-dark:hover {
    /* Dark/900 */

    background-color: #000000 !important;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2) !important;
}

.btn-dark:active {
    /* Dark/900 */

    background: #000000 !important;
    opacity: 0.5 !important;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-warning {
    /* Alert/Warning/Warning base */

    background: var(--warning-base);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-warning:disabled {
    /* Alert/Warning/Warning base */

    background: var(--warning-base);
    opacity: 0.5;
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-warning:hover {
    /* Alert/Warning/Warning base */

    background: var(--warning-base);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-warning:active {
    /* Alert/Warning/Warning base */

    background: var(--warning-base);
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-info {
    /* Alert/Info/Info base */

    background: var(--info-base);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-info:disabled {
    /* Alert/Info/Info base */

    background: var(--info-base);
    opacity: 0.5;
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-info:hover {
    /* Alert/Info/Info base */

    background: var(--info-base);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-info:active {
    /* Alert/Info/Info base */

    background: var(--info-base);
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
    /* Secondary/Secondary base 400 */

    background: var(--secondary-base);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-secondary:disabled {
    /* Secondary/Secondary base 400 */

    background: var(--secondary-base);
    opacity: 0.5;
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-secondary:hover {
    /* Secondary/Secondary base 400 */

    background: var(--secondary-base);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-secondary:active {
    /* Secondary/Secondary base 400 */

    background: var(--secondary-base);
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-light {
    /* Light/Light base 50 */

    background: var(--light);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-light:disabled {
    /* Light/Light base 50 */

    background: var(--light);
    /* Shadow */

    box-shadow: 1px 2px 6px 2px rgba(197, 204, 211, 0.5);
}

.btn-light:hover {
    /* Light/Light base 50 */

    background: var(--light);
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-light:active {
    /* Light/Light base 50 */

    background: var(--light);
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-link:hover {
    /* White */

    background: #ffffff;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.btn-link:active {
    /* White */

    background: #ffffff;
    opacity: 0.5;
    /* Inner shadow */

    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

:root {
  --ts-pr-clear-button: 0;
  --ts-pr-caret: 0;
  --ts-pr-min: 0.75rem;
}
.ts-wrapper.single .ts-control,
.ts-wrapper.single .ts-control input {
  cursor: pointer;
}
.ts-control {
  padding-right: max(
    var(--ts-pr-min),
    var(--ts-pr-clear-button) + var(--ts-pr-caret)
  ) !important;
}
.ts-wrapper.plugin-drag_drop.multi > .ts-control > div.ui-sortable-placeholder {
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 !important;
  box-shadow: inset 0 0 12px 4px #fff;
  visibility: visible !important;
}
.ts-wrapper.plugin-drag_drop .ui-sortable-placeholder:after {
  content: "!";
  visibility: hidden;
}
.ts-wrapper.plugin-drag_drop .ui-sortable-helper {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.plugin-checkbox_options .option input {
  margin-right: 0.5rem;
}
.plugin-clear_button {
  --ts-pr-clear-button: 1em;
}
.plugin-clear_button .clear-button {
  background: transparent !important;
  cursor: pointer;
  margin-right: 0 !important;
  opacity: 0;
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.5s;
}
.plugin-clear_button.form-select .clear-button,
.plugin-clear_button.single .clear-button {
  right: max(var(--ts-pr-caret), 8px);
}
.plugin-clear_button.focus.has-items .clear-button,
.plugin-clear_button:not(.disabled):hover.has-items .clear-button {
  opacity: 1;
}
.ts-wrapper .dropdown-header {
  background: #f8f8f8;
  border-bottom: 1px solid #d0d0d0;
  border-radius: 3px 3px 0 0;
  padding: 10px 8px;
  position: relative;
}
.ts-wrapper .dropdown-header-close {
  color: #303030;
  font-size: 20px !important;
  line-height: 20px;
  margin-top: -12px;
  opacity: 0.4;
  position: absolute;
  right: 8px;
  top: 50%;
}
.ts-wrapper .dropdown-header-close:hover {
  color: #000;
}
.plugin-dropdown_input.focus.dropdown-active .ts-control {
  border: 1px solid #d0d0d0;
  box-shadow: none;
}
.plugin-dropdown_input .dropdown-input {
  background: transparent;
  border: solid #d0d0d0;
  border-width: 0 0 1px;
  box-shadow: none;
  display: block;
  padding: 8px;
  width: 100%;
}
.plugin-dropdown_input .items-placeholder {
  border: 0 !important;
  box-shadow: none !important;
  width: 100%;
}
.plugin-dropdown_input.dropdown-active .items-placeholder,
.plugin-dropdown_input.has-items .items-placeholder {
  display: none !important;
}
.ts-wrapper.plugin-input_autogrow.has-items .ts-control > input {
  min-width: 0;
}
.ts-wrapper.plugin-input_autogrow.has-items.focus .ts-control > input {
  flex: none;
  min-width: 4px;
}
.ts-wrapper.plugin-input_autogrow.has-items.focus
  .ts-control
  > input::-moz-placeholder {
  color: transparent;
}
.ts-wrapper.plugin-input_autogrow.has-items.focus
  .ts-control
  > input::placeholder {
  color: transparent;
}
.ts-dropdown.plugin-optgroup_columns .ts-dropdown-content {
  display: flex;
}
.ts-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
}
.ts-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0;
}
.ts-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none;
}
.ts-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0;
}
.ts-wrapper.plugin-remove_button .item {
  align-items: center;
  display: inline-flex;
  padding-right: 0 !important;
}
.ts-wrapper.plugin-remove_button .item .remove {
  border-radius: 0 2px 2px 0;
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  padding: 0 6px;
  text-decoration: none;
  vertical-align: middle;
}
.ts-wrapper.plugin-remove_button .item .remove:hover {
  background: rgba(0, 0, 0, 0.05);
}
.ts-wrapper.plugin-remove_button.disabled .item .remove:hover {
  background: none;
}
.ts-wrapper.plugin-remove_button .remove-single {
  font-size: 23px;
  position: absolute;
  right: 0;
  top: 0;
}
.ts-wrapper.plugin-remove_button:not(.rtl) .item .remove {
  border-left: 1px solid #d0d0d0;
  margin-left: 6px;
}
.ts-wrapper.plugin-remove_button:not(.rtl) .item.active .remove {
  border-left-color: #cacaca;
}
.ts-wrapper.plugin-remove_button:not(.rtl).disabled .item .remove {
  border-left-color: #fff;
}
.ts-wrapper.plugin-remove_button.rtl .item .remove {
  border-right: 1px solid #d0d0d0;
  margin-right: 6px;
}
.ts-wrapper.plugin-remove_button.rtl .item.active .remove {
  border-right-color: #cacaca;
}
.ts-wrapper.plugin-remove_button.rtl.disabled .item .remove {
  border-right-color: #fff;
}
.ts-wrapper {
  position: relative;
}
.ts-control,
.ts-control input,
.ts-dropdown {
  font-smoothing: inherit;
  color: #303030;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
}
.ts-control,
.ts-wrapper.single.input-active .ts-control {
  background: #fff;
  cursor: text;
}
.ts-control {
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 8px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.ts-wrapper.multi.has-items .ts-control {
  padding: 6px 8px 3px;
}
.full .ts-control {
  background-color: #fff;
}
.disabled .ts-control,
.disabled .ts-control * {
  cursor: default !important;
}
.focus .ts-control {
  box-shadow: none;
}
.ts-control > * {
  display: inline-block;
  vertical-align: baseline;
}
.ts-wrapper.multi .ts-control > div {
  background: #f2f2f2;
  border: 0 solid #d0d0d0;
  color: #303030;
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 2px 6px;
}
.ts-wrapper.multi .ts-control > div.active {
  background: #e8e8e8;
  border: 0 solid #cacaca;
  color: #303030;
}
.ts-wrapper.multi.disabled .ts-control > div,
.ts-wrapper.multi.disabled .ts-control > div.active {
  background: #fff;
  border: 0 solid #fff;
  color: #7d7d7d;
}
.ts-control > input {
  background: none !important;
  border: 0 !important;
  box-shadow: none !important;
  display: inline-block !important;
  flex: 1 1 auto;
  line-height: inherit !important;
  margin: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  min-height: 0 !important;
  min-width: 7rem;
  padding: 0 !important;
  text-indent: 0 !important;
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  user-select: auto !important;
}
.ts-control > input::-ms-clear {
  display: none;
}
.ts-control > input:focus {
  outline: none !important;
}
.has-items .ts-control > input {
  margin: 0 4px !important;
}
.ts-control.rtl {
  text-align: right;
}
.ts-control.rtl.single .ts-control:after {
  left: 15px;
  right: auto;
}
.ts-control.rtl .ts-control > input {
  margin: 0 4px 0 -2px !important;
}
.disabled .ts-control {
  background-color: #fafafa;
  opacity: 0.5;
}
.input-hidden .ts-control > input {
  left: -10000px;
  opacity: 0;
  position: absolute;
}
.ts-dropdown {
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 0 0 3px 3px;
  border-top: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  left: 0;
  margin: 0.25rem 0 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 10;
}
.ts-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden;
}
.ts-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  border-radius: 1px;
}
.ts-dropdown .create,
.ts-dropdown .no-results,
.ts-dropdown .optgroup-header,
.ts-dropdown .option {
  padding: 5px 8px;
}
.ts-dropdown .option,
.ts-dropdown [data-disabled],
.ts-dropdown [data-disabled] [data-selectable].option {
  cursor: inherit;
  opacity: 0.5;
}
.ts-dropdown [data-selectable].option {
  cursor: pointer;
  opacity: 1;
}
.ts-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0;
}
.ts-dropdown .optgroup-header {
  background: #fff;
  color: #303030;
  cursor: default;
}
.ts-dropdown .active {
  background-color: #f5fafd;
  color: #495c68;
}
.ts-dropdown .active.create {
  color: #495c68;
}
.ts-dropdown .create {
  color: rgba(48, 48, 48, 0.5);
}
.ts-dropdown .spinner {
  display: inline-block;
  height: 30px;
  margin: 5px 8px;
  width: 30px;
}
.ts-dropdown .spinner:after {
  animation: lds-dual-ring 1.2s linear infinite;
  border-color: #d0d0d0 transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  content: " ";
  display: block;
  height: 24px;
  margin: 3px;
  width: 24px;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.ts-dropdown-content {
  overflow-scrolling: touch;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.ts-hidden-accessible {
  clip: rect(0 0 0 0) !important;
  border: 0 !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

/* Absolute Center Spinner */
.basic-loader-loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.basic-loader-loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

/* :not(:required) hides these rules from IE9 and below */
.basic-loader-loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.basic-loader-loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
} /* Using a string */

